* {
  color: #eceff4;
  /* border: 0; */
  /* border-radius: 5; */
  /* padding: 1 0; */
  font-family: HackNewFont;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
}

window#waybar {
  background: rgba(1, 22, 40, 0);
  padding-top: 0px;
}

.modules-left {
  background: rgba(1, 22, 40, 0.6);
  border-radius: 90px;
  border-bottom: 3px;
  color: #eceff4;
  border-color: #7aa2f7;
  border-style: solid;
  margin-top: 2px;
}

.modules-right {
  background: rgba(1, 22, 40, 0.6);
  border-radius: 90px;
  border-bottom: 3px;
  color: #eceff4;
  border-color: #7aa2f7;
  border-style: solid;
  margin-top: 2px;
}

#workspaces {
  background: rgba(1, 22, 40, 0.6);
  border-radius: 90px;
  border-bottom: 3px;
  color: #eceff4;
  border-color: #7aa2f7;
  border-style: solid;
  margin-top: 2px;
}

#workspaces button {
  padding: 0px 2px;
  border-top: 2px;
  color: #eceff4;
  border-color: transparent;
  border-style: solid;
  margin-top: 2px;
}

#workspaces button.active {
  /* background: rgba(1, 22, 40, 0.4); */
  border-color: #9ece6a;
  border-radius: 90;
  padding: 0px 0px;
}

#mode {
  color: #7aa2f7;
}

/* #clock, */
/* #battery, */
/* #cpu, */
/* #memory, */
/* #idle_inhibitor, */
/* #temperature, */
/* #custom-keyboard-layout, */
/* #backlight, */
/* #network, */
/* #pulseaudio, */
/* #mode, */
/* #tray, */
/* #window, */
/* #custom-launcher, */
/* #custom-power, */
/* #custom-pacman { */
/*   padding: 0 3px; */
/*   border-bottom: 2px; */
/*   border-style: solid; */
/* } */
/**/
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
/**/
/* #clock { */
/*   background: transparent; */
/*   border-radius: 90px; */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #backlight { */
/*   color: #ebcb8b; */
/* } */
/**/
/* #battery { */
/*   color: #d8dee9; */
/* } */
/**/
/* #battery.charging { */
/*   color: #81a1c1; */
/* } */
/**/
/* @keyframes blink { */
/*   to { */
/*     color: #4c566a; */
/*     background-color: transparent; */
/*   } */
/* } */
/**/
/* #cpu { */
/*   background: transparent; */
/*   border-radius: 90px; */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #memory { */
/*   background: transparent; */
/*   border-radius: 90px; */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #network.disabled { */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #network { */
/*   background: transparent; */
/*   border-radius: 90px; */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #network.disconnected { */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #pulseaudio { */
/*   background: transparent; */
/*   border-radius: 90px; */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
/**/
/* #pulseaudio.muted { */
/*   color: #eceff4; */
/*   border-color: #7aa2f7; */
/* } */
