* {
  font-family: Hack Nerd Font;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(1, 22, 40, 0.4); /* Semi-transparent background */
  margin: auto;
  padding: 00px;
  border-radius: 0px;
  border: 2px solid transparent;
  border-image: linear-gradient(
      45deg,
      rgba(33, 204, 255, 0.3),
      rgba(0, 255, 153, 0.3)
    )
    1;
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 30px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: rgba(46, 52, 64, 0.2);
}

#text {
  margin: 2px;
}
