* {
  font-family: Hack Nerd Font;
  color: #e5e9f0;
  background: transparent;
}

#window {
  background: rgba(41, 46, 66, 0.8); /* Semi-transparent background */
  margin: auto;
  padding: 00px;
  border-radius: 00px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #b072d1, #72d1d1) 9; /* Gradient border */
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 30px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #2e3440; /* Background color for selected entry */
}

#text {
  margin: 2px;
}
